html {
    background-color: #F8F1FF;
}

body {
    margin: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 1em 0;
    background-color: #8F8896;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.header-menu a {
    padding: 1.5em 2em;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.25em;
}

.header-menu a:hover {
    background-color: #38023B;
    color: #F8F1FF;
}

h1, h3 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #38023B;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    padding-top: 3em;
    padding-bottom: 2em;
    background-color: #F5EBFF;
}

#about-title {
    grid-column: 2 / 4;
    grid-row: 1;
}

#family {
    grid-column: 2;
    grid-row: 2;
    border-radius: 70%;
    width: 25rem;
}

#about-intro {
    grid-column: 3;
    grid-row: 2;
    padding-top: 1em;
    padding-left: 1.5em;
    text-align: left;
    font-size: 1.5em;
    border-left: 2px solid #38023B;
}

#about-story-title {
    font-size: 1.75em;
}

#about-story-message {
    margin: auto;
    width: 75%;
    text-align: justify;
    font-size: 1.5em;
    padding-bottom: 1em;
}

p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
    padding: 0.25em 0em;
    color: #1F1D20;
}

a {
    color: #38023B;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #F5EBFF;
    padding: 0.75em 0;
}

#portfolio-title {
    grid-column:  2 / 4;
}

#portfolio-text {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
    font-size: 1.5em;
    padding-right: 1.5em;
    border-right: 2px solid #38023B;
}

#portfolio-image {
    grid-column: 3;
    grid-row: 2;
    padding: 1.5em 0 0 1em;
    width: 35em;
}

#contact-text {
    text-align: center;
    font-size: 1.5em;
}